@import compass
@import blueprint
@import blueprint/liquid
@import cargo_wiki/mixins

.tags_list
  text-align: center
  font-size: 1.5em

  .css1
    font-size: 1.0em
  .css2
    font-size: 1.2em

  .css3
    font-size: 1.4em

  .css4
    font-size: 1.6em