@import compass
@import blueprint
@import blueprint/liquid
@import cargo_wiki/variables
@import cargo_wiki/mixins

.tags_list
  text-align: center
  font-size: 1.3em

  .css1, .css2, .css3, .css4
    +link-colors($tag-color)
    +border-radius(45px)
    display: inline-block
    background-color: $tag-bg-color
    color: $tag-color
    padding: 0.3em 0.5em 0em 0.5em
    text-decoration: none
    font-family: saxMonoRegular
    border: 1px solid darken($tag-bg-color, 5)
    &:hover
      background-color: darken($tag-bg-color, 10)

  .css1
    font-size: 1.0em
  .css2
    font-size: 1.2em

  .css3
    font-size: 1.4em

  .css4
    font-size: 1.6em