%h1.title Tags

.tags_list
  - if @tags.empty?
    %p No tags created yet.

  - else
    - tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
      = link_to tag.name, tag_articles_path(tag), :class => css_class